.abilities-popup-parent .abilities {
    display: grid;
    grid-template-columns: 85px 60px 60px 50px auto;
    text-align: center;
}
.abilities-popup-parent .abilities > div {
    padding-right: 10px;
}
.abilities-popup-parent {
    overflow: visible;
}

@media print {
    .abilities-popup-parent .abilities {
        font-size: 11px;
    }
}