.char-character-advancement .sectionHeader {
    margin-top: 10px;
    background-color: var(--background-color-header);
}

.char-character-advancement thead {
    background-color: var(--background-color-body);
}

@media print {
    .char-character-advancement {
        display: none;
    }
}