.char-abilities {
    margin-top: 5px;
    overflow: visible;
}
.char-abilities .abilities {
    display: grid;
    grid-template-columns: 80px 45px 50px 80px auto;
    text-align: center;
}
.char-abilities .sectionHeader {
    background-color: var(--background-color-header);
    display: grid;
    grid-template-columns: 80px 45px 50px 80px auto;
    text-align: center;
}
.char-abilities .abilities > div {
    padding-right: 10px;
}

@media print {
    .char-abilities .abilities {
        font-size: 11px;
    }
}