.char-spell-slots.levels > .header {
    margin-right: 15px;
    margin-top: 0px;
}
.char-spell-slots.levels {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: row;
}