.char-spells .spell-abilities {
    align-items: center;
    background-color: var(--background-color-body);
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 5px;
    margin-top: -5px;
}
.char-spells .spell-popup-parent {
    overflow: visible;
}
.char-spells .spell-name {
    cursor: pointer;
}
.char-spells .table-spells {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
@media print {
    .char-spells .table-spells {
        font-size: 10px;
    }
    .char-spells .table-spells td,
    .char-spells .table-spells th {
        padding: 1px 3px;
    }
}

